.instructions {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0;
}

span {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  color: #3d3d65;
  margin: 0 0.2rem;
  padding: 0 0.3rem;
}
