.instruction-container {
  display: inline-block;
}

.instructions {
  font-size: 1.3rem;
  color: #fff;
}

.instructions p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 0.1rem;
}

span {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  color: #3d3d65;
  padding: 0 0.3rem;
}
