.song-card {
  background-color: #fff;
  width: 90%;
  height: 25rem;
  margin: auto;
  opacity: 0.86;
  border-radius: 0.3rem;
}

@media (min-width: 1025px) {
  .song-card {
    width: 40%;
  }
}

.arrow {
  color: #1db954;
  font-size: 5rem;
}

.arrow-left {
  float: left;
}

.arrow-right {
  float: right;
}

.arrow:hover {
  color: #1ed760;
  cursor: pointer;
}

.album-cover {
  margin-top: 1rem;
  width: 12.5rem;
}

.play-btn {
  color: #1db954;
  font-size: 5rem;
}

.play-btn:hover {
  color: #1ed760;
}
