* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.bpm-display {
  display: contents;
}

@media (max-width: 500px) {
  .bpm-display {
    display: none;
  }
}
