* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bpm-display {
  display: contents;
}

@media (max-width: 500px) {
  .bpm-display {
    display: none;
  }
}

.tapped {
  background-color: #6fe899;
}
